@page "/Login"
<PageTitle>Login</PageTitle>

<div class="card">
    <h3>Login</h3>
    <form action="" method="post">
        <div class="imgcontainer">
            <img src=avatar-svgrepo-com.svg alt="Avatar" class="avatar">
        </div>

        <div class="container">
            <label for="email"><b>Email</b></label>
            <input type="text" placeholder="Enter Email" name="email" required>

            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" required>

            <button type="submit">Login</button>
            <label>
                <input type="checkbox" checked="checked" name="remember"> Remember me
            </label>
        </div>

        <div class="container">
            <button type="button" class="cancelbtn">Cancel</button>
            <span class="psw">Forgot <a href="#">password?</a></span>
        </div>
        <div class="container">
            <input type="button" onclick="location.href='SignUp';" value="SignUp" />
        </div>
    </form>
</div>


@code {
    private string email = "";
    private string password = "";
}

