@page "/CreateEvent"
<PageTitle>Create Event</PageTitle>
<h3>CreateEvent</h3>

<!-- This page needs: Event name, Duration, date, estimated number of volunteers, organizer   -->
<div>
    <div class="card">
        <label for="calendar">Date:</label>
        <input type="date" id="calendar" name="calendar">
    </div>
</div>

@code {
    
}