@page "/Shift"
<PageTitle>Shifts</PageTitle>
<h3>Available Shifts</h3>

<div>
    <div class="container">
        <label for="period">Hours:</label>
        <input type="period" placeholder="Hours" name="period" required/>
    </div>
    <div class="container">
        <input type="button" onclick="" value="Sign up"/>
    </div>
    
</div>

@code {
    
}