@page "/ViewEvents"
<PageTitle>View Events</PageTitle>
<h3>ViewEvents</h3>

<table class="table">
    <thead>
    <tr>
        <th>Event Name</th>
        <th>Date</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th>Location</th>
    </tr>
    </thead>
</table>

@code{

    

}